# Operating System Files
*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/workspace.xml
/.idea/libraries/javax_annotation_javax_annotation_api_1_2_b04.xml

# Build Artifacts
.gradle/
build/
target/*
bin/
dependency-reduced-pom.xml

# Eclipse
.settings
.project
.classpath

# Idea
*.iml
*.ipr
*.iws
*.idea
/target/
/Test Results - testLeague.xml
Test Results - testLeague.xml
